h1{display: flex;
    
    left: 20%;
    color: blue;
    position: absolute;
}

#titration-result {
    left: 25%;
    top: 16%;
    height: 50%;
    position: absolute;
}

#calculation{
    top: 75%;
    position: absolute;
    height: 50%;
    left: 25%;
}